# Dépendances
node_modules/

# Fichiers de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dossiers de build
dist/
build/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers temporaires
*.tmp
*.temp

# TypeScript
*.tsbuildinfo
.tscache/

# pnpm
.pnpm-store/